
@keyframes efecto_mensaje_bienvenida {

    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}

@keyframes efecto_cursos_sobre_producto {

    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}