/* Declaracion de variables */


// Variables para nav
$bg-color-nav: #ececec;
$font-color-nav: black;
$font-size-nav: 18px;


// Variables para footer
$bg-color-footer: #333;
$font-color-footer: #fff;
