/* Estilos para las secciones que tiene clase textMisionVision */
.textMisionVision{
    font-style: italic;
}


#areaElectricaySoftware {
    margin-top: 30px;
}

#areaElectricaySoftware {
    h2 {
        font-weight: bold;
    }
}

#areaTratamientoDeAgua {
    margin-top: 30px;
}

#areaTratamientoDeAgua {
    h2 {
        font-weight: bold;
    }
}